.header {
    background-color: #b1ccc9;
    border-style: none none ridge;
    border-width: 2px;
    border-color: #9fbebb;
    border-radius: 5px;
}
h1 {
    font-family: 'Cinzel';
    font-size: 72;
}
h2 {
    font-family: 'Architects Daughter';
}
div {
    font-family: 'Arsenal';
    font-size: 22px;
}
img {
    border-radius: 50%;
}
.center {
    height: 150px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#third {
    padding-left: 650px;
}
#objective {
    text-align: center;
}
.back {
    background-color: rgb(252, 231, 231);
}
.table {
    width: 75%;
    margin-left: 150px;
}
#theTables {
    margin-left: 100px;
    width: 85%;
    border-style: double;
    border-radius: 5px;
    border-color: dimgray;
}
.row {
    padding: 15px;
    padding-left: 150px;
}
/*create four columns (widths must add up to 100%)*/
.column {
    float: left;
    width: 45%;
    padding: 15px;
    box-shadow: 5px 5px 5px lightgray;
}
/*remove floats from after the columns*/
.row::after {
    content: "";
    display: table;
    clear: both;
}
/*Responsive layout so that cards stack on top of each other when screen is made smaller*/
@media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
  }
.pad {
    padding: 100px;
}
.outer1 {
    height: 150px;
    width: 95%;
    margin-left: 40px;
    box-shadow: 0px 5px 2px  #b1ccc9;
}
.outer {
    height: 150px;
    width: 95%;
    margin-left: 40px;
    box-shadow: 0 5px 2px  #b1ccc9;
}
.inner1 {
    float: left;
    height: 150px;
    width: 210px;
    background-color: #b1ccc9;
    box-shadow: 5px 5px 2px #b1ccc9;
}
.inner2 {
    float: right;
    height: 150px;
    width: 210px;
    background-color: #b1ccc9;
    box-shadow: 0px 5px 2px  #b1ccc9;
}
.footer {
    background-color: #d7f7f4;
    padding-bottom: 0px;
}